<div ng-include="'includes/navbar-nonDashboard.htm'"></div>

<div class="container">
<h5>-ar, -er, & -ir Verbs</h5>

<p>Here are the three verbs we are going to practice conjugating. Let's take a moment to memorize them and their meanings.</p>

<table>
	<thead>
		<tr><th>-ar</th><th>-er</th><th>-ir</th></tr>
	</thead>
	<tbody>
		<tr><td>hablar (to talk)</td><td>comer (to eat)</td><td>vivir (to live)</td></tr>
	</tbody>
</table>


<div>
<div ng-click="goToExercises()" class="goToExercises">
	<button class="btn btn-primary">Begin Exercises</button>
</div>

</div>
</div>