<div ng-include="'includes/navbar-nonDashboard.htm'"></div>

<div class="container">
<h5>Articles & Plural Nouns Review</h5>
<p>Here the the ways to say "the":</p>

<table>
	<thead>
		<tr><th></th><th>Masculine</th><th>Feminine</th></tr>
	</thead>
	<tbody>
		<tr><th>Singular</th><td>el</td><td>la</td></tr>
		<tr><th>Plural</th><td>los</td><td>las</td></tr>
	</tbody>
</table>

<p>Here are the ways to say "a/an" and "some/a few":</p>

<table>
	<thead>
		<tr><th></th><th>Masculine</th><th>Feminine</th></tr>
	</thead>
	<tbody>
		<tr><th>Singular</th><td>un</td><td>una</td></tr>
		<tr><th>Plural</th><td>unos</td><td>unas</td></tr>
	</tbody>
</table>

<p>And here are the nouns we've learned in this section:</p>
<table>
	<thead>
		<tr><th>Spanish</th><th>English</th></tr>
	</thead>
	<tbody>
		<tr><td>el hombre</td><td>the man</td></tr>
		<tr><td>la mujer</td><td>the woman</td></tr>
		<tr><td>el chico</td><td>the boy</td></tr>
		<tr><td>la chica</td><td>the girl</td></tr>
		<tr><td>el supermercado</td><td>the supermarket</td></tr>
		<tr><td>la escuela</td><td>the school</td></tr>
	</tbody>
</table>

<div>
<div ng-click="goToExercises()" class="goToExercises">
	<button class="btn btn-primary">Begin Exercises</button>
</div>

</div>
</div>