<div ng-include="'includes/navbar-nonDashboard.htm'"></div>

<div class="container">
<div id="excerciseTitle">
<h3 >{{title}}</h3>
</div>

<div ng-bind-html="question">
</div>

<h1 ng-bind-html="problem"></h1>
<div class="answerSpace">
<h1 ng-if="showAnswer" ng-bind-html="answer"></h1>
</div>

<button ng-if="!showAnswer" ng-click="reveal()" class="showAnswer">Show Answer</button>
<button ng-if="showAnswer" ng-click="next(problem, answer, num)" class="IGotThisRight">I got this right</button> <button ng-if="showAnswer" ng-click="wrong(problem, answer, num)" class="SeeAgain">I'd like to see this again</button>

</div>
