<div ng-include="'includes/navbar-nonDashboard.htm'"></div>

<div class="container">
<h5>Intro to Conjugation</h5>

<p>Notice how the endings of the verb changes in the example below? This is called "conjugation".</p>

<p>Infinitive: hablar (to talk)</p>
<table>
	<thead>
		<tr><th>Pronoun</th><th>Verb</th></tr>
	</thead>
	<tbody>
		<tr><td>Yo</td><td>hablo</td></tr>
		<tr><td>T&uacute;</td><td>hablas</td></tr>
		<tr><td>Ella</td><td>habla</td></tr>
	</tbody>
</table>

<p>infinitive def: an unconjugated verb, prefaced in English by the word "to" example: to eat, to talk, to live, etc</p>
<p>Verb endings in Spanish change according to the pronoun, though some pronouns share the same ending (you'll see an example of this in the next section).</p>

<p>There are 3 kinds of verbs in Spanish which are characterized by their endings in the infinitive. Each type of verb has it's own set of endings, though they are quite similar to each other.</p>
<p>Verb types:</p>

<table>
	<thead>
		<tr><th>-ar</th><th>-er</th><th>-ir</th></tr>
	</thead>
	<tbody>
		<tr><td>hablar (to talk)</td><td>comer (to eat)</td><td>vivir (to live)</td></tr>
	</tbody>
</table>

<p>In the next sections you'll practice with the endings for each of the three types of verbs.</p>


<div>
<div ng-click="goToExercises()" class="goToExercises">
	<button class="btn btn-primary">Begin Exercises</button>
</div>

</div>
</div>