<div ng-include="'includes/navbar-landing.htm'"></div>



<div class="landing1 LandingMain" >
<div class="container">
<h1 class="LandingTitle">Dragonfly Language Programs</h1>
<h3 class="LandingTag">Get an A+ in Spanish Class</h3>
</div>
</div>

<div class="landing1">
<div class="container">
	<h3>Research Based</h3>
	<ul>
		<li><h5>The most useful vocabulary & grammar</h5></li>
		<li><h5>Incremental increase in complexity</h5></li>
		<li><h5>Randomized exercises for reusability and greater retention</h5></li>
		<li><h5>Quickly builds toward meaning making sentences</h5></li>
		<li><h5>Free - program comes at no cost to you!</h5></li>
	</ul>
	</div>
</div>

<div class="landing1 LandingMain" id="testimonials">
	<div class="container">
	<h3>Testamonials</h3>
	<h4 class="quote">"I learned so much and it was so easy! I would totally reccommend this software"</h4>
		<h5 class="quoted">-Daffy Duck</h5>
	<h4 class="quote">"Ho-boy! Best part of my day! Couldn't wait to start studying!"</h4>
		<h5 class="quoted">-Mickey Mouse</h5>
	<h4 class="quote">"I got an A in Spanish class! Hyuck!"</h4>
		<h5 class="quoted">-Goofy</h5>
</div>
</div>

<div class="landing1">
<div class="container">
	<h3>Awards</h3>
	<img src="../img/oscar.png" class="award">
	<img src="../img/grammy.png" class="award">
	<img src="../img/nobel.png" class="award">
	<img src="../img/emmy.png" class="award">
</div>
</div>