<div ng-include="'includes/navbar-nonDashboard.htm'"></div>

<div class="container">
<h5>Vocab - Nouns 1</h5>

<p>Here are the nouns we'll be using in the near future along with their meanings.</p>

<table>
	<thead>
		<tr><th>Spanish</th><th>English</th></tr>
	</thead>
	<tbody>
		<tr><td>el hombre</td><td>the man</td></tr>
		<tr><td>la mujer</td><td>the woman</td></tr>
		<tr><td>el chico</td><td>the boy</td></tr>
		<tr><td>la chica</td><td>the girl</td></tr>
		<tr><td>el supermercado</td><td>the supermarket</td></tr>
		<tr><td>la escuela</td><td>the school</td></tr>
	</tbody>
</table>

<div>
<div ng-click="goToExercises()" class="goToExercises">
	<button class="btn btn-primary">Begin Exercises</button>
</div>

</div>
</div>