<div ng-include="'includes/navbar-nonDashboard.htm'"></div>

<div class="container">
<h5>Plural Nouns</h5>

<p>In English we generally make nouns plural by adding an "s" (example: chairs), but there are a lot of exceptions (foxes, fish, cacti, oxen, etc). In Spanish it is much simpler: when a noun ends in a vowel add "s" and when it ends in a consonant add "es".</p>

<p>Examples:</p>

<p>el hombre becomes los hombres</p>
<p>la mujer becomes las mujeres</p>

<p>(Currently "mujer" is the only noun we have ending in a consonant, but we'll get more soon!)</p>

<div>
<div ng-click="goToExercises()" class="goToExercises">
	<button class="btn btn-primary">Begin Exercises</button>
</div>

</div>
</div>