<div ng-include="'includes/navbar-nonDashboard.htm'"></div>

<div class="container">
<h5>Present Tense -ar Conjugation</h5>

<p>Here is the verb hablar fully conjugated.</p>

<table>
	<thead>
		<tr><th>Spanish</th><th>English</th><th>Spanish</th><th>English</th></tr>
	</thead>
	<tbody>
		<tr><td>Yo hablo</td><td>I speak</td><td>Nosotros/as hablamos</td><td>We speak</td></tr>
		<tr><td>T&uacute; hablas</td><td>You (inf) speak</td><td></td></tr>
		<tr><td>Usted habla</td><td>You (form) speak</td><td>Ustedes hablan</td><td>You (plural) speak</td></tr>
		<tr><td>&Eacute;l habla</td><td>He speaks</td><td>Ellos hablan</td><td>They (masc) speak</td></tr>
		<tr><td>Ella habla</td><td>She speaks</td><td>Ellas hablan</td><td>They (fem) speak</td></tr>
	</tbody>
</table>

<p>Here are just the -ar endings with each pronoun.</p>

<table>
	<thead>
		<tr></tr>
	</thead>
	<tbody>
		<tr><td>Yo -o</td><td>Nosotros/as -amos</td></tr>
		<tr><td>T&uacute; -as</td><td></td></tr>
		<tr><td>Usted -a</td><td>Ustedes -an</td></tr>
		<tr><td>&Eacute;l -a</td><td>Ellos -an</td></tr>
		<tr><td>Ella -a</td><td>Ellas -an</td></tr>
	</tbody>
</table>


<div>
<div ng-click="goToExercises()" class="goToExercises">
	<button class="btn btn-primary">Begin Exercises</button>
</div>

</div>
</div>