<div ng-include="'includes/navbar-nonDashboard.htm'"></div>

<div class="container">
<h5>Present Tense -er Conjugation</h5>

<p>Here is the verb comer fully conjugated and next to it are the verb endings in isolation.</p>

<table>
	<thead>
		<tr><th>Spanish</th><th>English</th><th>Spanish</th><th>English</th></tr>
	</thead>
	<tbody>
		<tr><td>Yo como</td><td>I eat</td><td>Nosotros/as comemos</td><td>We eat</td></tr>
		<tr><td>T&uacute; comes</td><td>You (inf) eat</td><td></td></tr>
		<tr><td>Usted come</td><td>You (form) eat</td><td>Ustedes comen</td><td>You (plural) eat</td></tr>
		<tr><td>&Eacute;l come</td><td>He eats</td><td>Ellos comen</td><td>They (masc) eat</td></tr>
		<tr><td>Ella come</td><td>She eats</td><td>Ellas comen</td><td>They (fem) eat</td></tr>
	</tbody>
</table>

<table>
	<thead>
		<tr></tr>
	</thead>
	<tbody>
		<tr><td>Yo -o</td><td>Nosotros/as -emos</td></tr>
		<tr><td>T&uacute; -es</td><td></td></tr>
		<tr><td>Usted -e</td><td>Ustedes -en</td></tr>
		<tr><td>&Eacute;l -e</td><td>Ellos -en</td></tr>
		<tr><td>Ella -e</td><td>Ellas -en</td></tr>
	</tbody>
</table>

<div>
<div ng-click="goToExercises()" class="goToExercises">
	<button class="btn btn-primary">Begin Exercises</button>
</div>

</div>
</div>