<div ng-include="'includes/navbar-nonDashboard.htm'"></div>

<div class="container">
<h5>Pronouns 2</h5>

<p>Here is the second set of pronouns that we'll be working with.</p>

<div>

<table class="teachTable center">
	<thead>
		<tr><th>Spanish</th><th>English</th></tr>
	</thead>
	<tbody>
		<tr><td><span class="teachSpan">Nosotros</span></td><td><span class="teachEng">We (masculine)</span></td></tr>
		<tr><td><span class="teachSpan">Nosotras</span></td><td><span class="teachEng">We (feminine)</span></td></tr>
		<tr><td><span class="teachSpan">Ellos</span></td><td><span class="teachEng">They (masculine)</span></td></tr>
		<tr><td><span class="teachSpan">Ellas</span></td><td><span class="teachEng">They (feminine)</span></td></tr>
	</tbody>
</table>

</div>

<div>
<div ng-click="goToExercises()" class="goToExercises">
	<button class="btn btn-primary">Begin Exercises</button>
</div>

</div>
</div>