<div ng-include="'includes/navbar-nonDashboard.htm'"></div>

<div class="container">
<h5>Pronouns 3</h5>

<p>Here is the third set of pronouns that we'll be working with</p>

<div>

<table class="teachTable center">
	<thead>
		<tr><th>Spanish</th><th>English</th></tr>
	</thead>
	<tbody>
		<tr><td><span class="teachSpan">T&uacute;</span></td><td><span class="teachEng">You (informal)</span></td></tr>
		<tr><td><span class="teachSpan">Usted</span></td><td><span class="teachEng">You (formal)</span></td></tr>
		<tr><td><span class="teachSpan">Vosotros</span></td><td><span class="teachEng">You (plural informal masculine)</span></td></tr>
		<tr><td><span class="teachSpan">Vosotras</span></td><td><span class="teachEng">You (plural informal feminine)</span></td></tr>
		<tr><td><span class="teachSpan">Ustedes</span></td><td><span class="teachEng">You (plural formal)</span></td></tr>
	</tbody>
</table>

</div>
<div ng-click="goToExercises()" class="goToExercises">
	<button class="btn btn-primary">Begin Exercises</button>
</div>

</div>
</div>