<div ng-include="'includes/navbar.htm'"></div>
<h1>Teach</h1>

<h3>Pronouns 1</h3>

<p>Here is the first set of pronouns that we'll be working with (don't worry, it'll get harder soon).</p>
<p>Click the words to hear the Spanish pronunciation.</p>

<div>

<div class="vocabBlock">
	<div class="vocabEnglish">
		I
	</div>
	<div class="vocabSpanish">
		Yo
	</div>
</div>

<div class="vocabBlock">
	<div class="vocabEnglish">
		You (inf*)
	</div>
	<div class="vocabSpanish">
		T&#250;
	</div>
</div>

<div class="vocabBlock">
	<div class="vocabEnglish">
		He
	</div>
	<div class="vocabSpanish">
		&#201;l
	</div>
</div>

<div class="vocabBlock">
	<div class="vocabEnglish">
		She
	</div>
	<div class="vocabSpanish">
		Ella
	</div>
</div>


</div>
*inf = informal	<span class="blue">blue = English</span> <span class="green">green = Spanish</span>
<div>
<a href="#/exercise/57e456220997003338a94baa"><button>Begin Exercises</button></a>
</div>