<div ng-include="'includes/navbar-nonDashboard.htm'"></div>

<div class="container">
<h5>un, una, unos, unas</h5>

<p>Here is how you say "a/an" and "some/a few" in Spanish: un, una, unos, unas. The form that you use depends on the whether the noun it is describing is masculine or feminine, singular or plural.</p>

<table>
	<thead>
		<tr><th></th><th>Masculine</th><th>Feminine</th></tr>
	</thead>
	<tbody>
		<tr><th>Singular</th><td>un</td><td>una</td></tr>
		<tr><th>Plural</th><td>unos</td><td>unas</td></tr>
	</tbody>
</table>

<div>
<div ng-click="goToExercises()" class="goToExercises">
	<button class="btn btn-primary">Begin Exercises</button>
</div>

</div>
</div>